html{
  scroll-behavior: smooth;
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  background-color: #050505;
  display: grid;
  grid-template-rows: repeat(19,1fr);
  height: 100%;
}

.navbarPart{
  grid-row: 1/4;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  justify-items: start;
  align-items: center;
}

.elementHolder{
  padding-left: 70px;
}

.navbarElement{
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}

.navbarElementText{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

.navbarElementText:hover{
  color: #D94645;
}

.active{
  color: #D94645;
}

.navLogo{
  justify-self: center;
}

.socialIcons{
  align-items: center;
  justify-self: end;
  margin-right: 70px;
}

.socialIconsImg{
  width: 16px;
  padding-left: 15px;
}


.mainPart{
  grid-row: 4/20;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.imgPart{
  grid-column: 1/2;
  text-align: center;
}

.myImage{
  width: 27vw;
  position: relative;
  bottom: 50px;
}

.textsAndButtons{
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-self: center;
}

.headerText{
  font-size: 48px;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  grid-column: 1/2;
}

.littleExp{
  font-size: 22px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  grid-column: 1/2;
}

.fullExp{
  font-size: 14px;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
  grid-column: 1/2;
}

.getInTouch{
  grid-column: 1/2;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: #EB4A4A;
  color: white;
  text-align: center;
  align-self: center;
  font-family: 'Poppins', sans-serif;
}

.socialIconsBottom{
  display: none;
  grid-column: 1/3;
  text-align: center;
}

.bar {
  width: 100vw;
  height: 2px;
  background-color: #ffffff;
  margin: 22px 0;
  transition: 0.4s;
}


@media (max-width: 975px) {
  .myImage{
    width: 40vw;
  }
}


@media (max-width: 700px) {
  body{
    padding-bottom: 30px;
  }
  .navbarPart{
    grid-row: 1/4;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    justify-items: start;
    align-items: center;
  }
  .socialIcons{
    display: none;
  }
  .elementHolder{
    grid-column: 2/3;
    padding-left: 50px;
    justify-self: center;
  }
  .navLogo{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: right;
  }
  .socialIconsBottom{
    display: block;
    grid-column: 1/3;
    text-align: center;
  }
  .navbarElementText{
    font-size: 13px;
  }
  .mainPart{
    grid-template-columns: 1fr;
  }
  .myImage{
    width: 40vw;
    bottom: 10px;
  }
  .textsAndButtons{
    grid-template-columns: 1fr;
    justify-items: center;
    grid-template-columns: 1fr 3fr 1fr;
  }
  .imgPart{
    grid-column: 1/3;
    text-align: center;
  }
  .headerText{
    grid-column: 2/3;
    text-align: center;
    align-self: center;
  }
  .littleExp{
    grid-column: 2/3;
    text-align: center;
    align-self: center;
  }
  .fullExp{
    grid-column: 2/3;
    text-align: center;
    align-self: center;
  }
  .getInTouch{
    grid-column: 2/3;
  }
}

@media (max-width: 975px) {
  .headerText{
    font-size: 34px;
  }
}




